<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security - OAuth 2.0 User Info</title>
    <meta charset="utf-8"/>
</head>
<body>
<div th:replace="index::logout"></div>
<h1>Albums</h1>
<div>
    <span style="font-weight:bold">User Albums:</span>
    <ul>
        <li th:each="album : ${albums}">
            <img th:src="${album.coverPhotoUrl}"/>
            <a th:href="${album.url}" target="_blank" style="font-weight:bold" th:text="${album.name}">Album name</a>
            <a href="shareAlbum.html" th:href="@{'/albums/'+${album.id}}">Share</a>
        </li>
    </ul>
    <span th:if="${nextPageToken}"><a th:href="@{/albums(nextPageToken=${nextPageToken})}"
                                      href="/albums">Next page</a></span>
</div>
</body>
</html>