<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security - OAuth 2.0 User Info</title>
</head>
<body>
<section>
    <span style="font-weight:bold">User Albums:</span>
    <ul>
        <li th:each="album : ${albums}">
            <img th:src="${album.coverPhotoUrl}"/>
            <a th:href="${album.url}" target="_blank" style="font-weight:bold" th:text="${album.name}">Album name</a>
            <a href="shareAlbum.html" th:href="@{'/albums/'+${album.id}}">Share</a>
        </li>
    </ul>
    <span th:if="${nextPageToken}"><a th:href="@{/albums(nextPageToken=${nextPageToken})}"
                                      href="/albums">Next page</a></span>
</section>
</body>
</html>