<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Circles</title>
</head>
<body>
<section class="container">
    <h1>User Circles</h1>
    <h6>Your circles</h6>
    <div th:if="${circles==null || circles.size()==0}">
        <div class="alert alert-primary" role="alert">You have no circles</div>
    </div>
    <div>
        <ul class="list-group">
            <li th:each="circle : ${circles}" class="list-group-item">
                <form action="#" th:action="@{'/circles/'+${circle.id}+'/delete'}" method="post"
                      class="form-inline circleform">
                    <a href="circle.html" th:href="@{'/circles/'+${circle.id}}" th:text="${circle.name}">Circle Name</a>
                    <input type="submit" value="Remove" class="btn btn-primary btn-sm"/>
                </form>
            </li>
        </ul>
    </div>

    <h6>New Circle</h6>
    <form action="#" th:action="@{/circles/}" th:object="${newcircle}" method="post"
          class="form-inline needs-validation" novalidate>
        <div class="form-group">
            <input id="circleNameInput" type="text"
                   class="form-control"
                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                   th:field=" *{name}"
                   placeholder="New circle name"/>
            <input type="submit" value="Create Circle" class="btn btn-primary"/>
            <input type="reset" value="Reset" class="btn-secondary btn"/>
            <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                 class="invalid-feedback"></div>
        </div>
    </form>
</section>
</body>
</html>