<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{circle}+' '+${circle.name}">Circle Name</title>
</head>
<body>
<section class="container">
    <h1 th:text="#{circle}+' '+${circle.name}">Circle Name</h1>
    <a href="circle.html" th:href="@{/circles}" class="btn btn-primary" th:text="'&#8592; '+#{back.to.circles}">&#8592; Back to
        circle list</a>
    <h6 th:text="#{members}">Members</h6>
    <div class="alert alert-primary" role="alert" th:if="${circle.members==null || circle.members.size()==0}"
         th:text="#{circle.no.members}">The circle has no members yet
    </div>
    <div>
        <ul class="list-group">
            <li th:each="member : ${circle.members}" class="list-group-item">
                <form action="#" th:action="@{'/circles/'+${circle.id}+'/members/'+${member}}" method="post"
                      class="form-inline circleform">
                    <span th:text="${member}">member@email</span>
                    <input type="submit" class="btn btn-primary btn-sm" value="Remove" th:value="#{remove}"/>
                </form>
            </li>
        </ul>
    </div>

    <h6 th:text="#{new.member}">New Member</h6>
    <form action="#" th:action="@{'/circles/'+${circle.id}+'/members'}" th:object="${newMemberCommand}" method="post"
          class="form-inline needs-validation">
        <div class="form-group">
            <input type="email" th:field="*{email}" placeholder="New Member's email"
                   class="form-control" th:placeholder="#{new.member.email}"
                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"/>
            <input type="submit" value="Add Member" th:value="#{add.member}" class="btn btn-primary"/>
            <input type="reset" value="Reset" th:value="#{reset}" class="btn-secondary btn"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                 class="invalid-feedback"></div>
        </div>
    </form>

</section>
</body>
</html>