<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security - OAuth 2.0 User Info</title>
</head>
<body>
<section>
    <div>
        <span style="font-weight:bold">User Circles:</span>
        <ul>
            <li th:each="circle : ${circles}">
                <a href="circle.html" th:href="@{'/circles/'+${circle.id}}" th:text="${circle.name}">Circle Name</a>
            </li>
        </ul>
    </div>
    <div>
        <form action="#" th:action="@{/circles/}" th:object="${newcircle}" method="post">
            <p>Name: <input type="text" th:field="*{name}"/></p>
            <p><input type="submit" value="Create Circle"/> <input type="reset" value="Reset"/></p>
        </form>
    </div>
</section>
</body>
</html>