<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GPhoto-Share</title>
</head>
<body>
<section class="container">
    <div class="row albumcard">
        <div class="card-columns">
            <div class="card" th:each="album : ${albums}">
                <a th:href="${album.shareInfo.shareableUrl}"
                   href="#"
                   target="_blank"><img class="card-img-top" th:src="${album.coverPhotoUrl}"/></a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${album.name}"><a th:href="${album.shareInfo.shareableUrl}"
                                                                      target="_blank">Album name</a>
                    </h5>
                    <div class="card-text" th:text="'Shared by '+${album.owner.name}">Shared by User</div>
                    <div class="albumcardfooter">
                        <a href="#" th:href="@{'/albums/'+${album.id}+'/join'}" class="btn btn-primary"
                           th:if="${album.shareInfo.shareToken}">Join in Google Photos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${albums == null || albums.size()==0}">
        <div class="alert alert-primary" role="alert">No shared albums available</div>
    </div>
</section>
</body>
</html>
