<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title}">GPhoto-Share</title>
</head>
<body>
<section class="container">
    <div>
        <button type="button" class="btn btn-secondary" onclick="subscribeUserToPush()"
                th:text="#{subscribe.to.notifications}">Subscribe to notifications
        </button>
    </div>
    <div class="row albumcard">
        <div class="card-columns">
            <div class="card" th:each="album : ${albums}">
                <a th:href="${album.publicUrl}"
                   href="#"
                   target="_blank"><img class="card-img-top"
                                        th:src="*{'data:image/png;base64,'+#conversions.convert(album.coverPhoto.data,'String')}"/></a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${album.name}"><a th:href="${album.publicUrl}"
                                                                      target="_blank"
                                                                      th:text="#{album.name}">Album name</a>
                    </h5>
                    <div class="card-text" th:text="#{shared.by}+' '+${album.owner}">Shared by User</div>
                    <div class="albumcardfooter">
                        <a href="#" th:href="@{'/albums/'+${album.id}+'/join'}" class="btn btn-primary"
                           th:if="${album.shareToken}" th:text="#{join.in.google.photos}">Join in Google Photos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${albums == null || albums.size()==0}">
        <div class="alert alert-primary" role="alert" th:text="#{no.shared.albums.available}">No shared albums
            available
        </div>
    </div>
</section>
</body>
</html>
