<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      th:fragment="layout(title, content)">
<head>
    <title th:replace="${title}">Page Title</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          th:href="'/webjars/bootstrap/4.1.1/css/bootstrap.min.css'"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <style type="text/css">
        .albumcard .card {
            padding: 1em;
            margin: 0.5em;
            background: #d3d3d333
        }

        .albumcard .albumcardfooter {
            text-align: right;
        }

        .circleform {
            justify-content: space-between;
        }

        .navigationrow {
            background: rgba(0, 104, 255, 0.13);
            justify-content: space-between;
            margin-bottom: 1em;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div th:fragment="navigation" class="row navigationrow">
        <ul class="nav">
            <li class="nav-item"><a href="index.html" class="nav-link" th:href="@{/}">Home</a></li>
            <li class="nav-item"><a href="albums.html" class="nav-link" th:href="@{/albums}">Albums</a></li>
            <li class="nav-item"><a href="circles.html" class="nav-link" th:href="@{/circles}">Circles</a></li>
            <li class="nav-item"><a href="albums.html" class="nav-link" th:href="@{/shared}">My Shared Albums</a></li>
            <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button">Admin</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="users.html" th:href="@{/admin/users}">Manage Users</a>
                </div>
            </li>
        </ul>
        <div th:fragment="logout" sec:authorize="isAuthenticated()">
            <div class="row">
                <div class="col-md-auto">
                    <span style="font-weight:bold">User: </span><span
                        th:text="${#authentication.principal.attributes.get('name')}">User Name</span>
                </div>
                <div class="col">
                    <form action="#" th:action="@{/logout}" method="post">
                        <input type="submit" value="Logout" class="btn btn-primary"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div th:replace="${content}">
            Page Content
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        th:src="@{/webjars/popper.js/1.14.3/dist/umd/popper.min.js}"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/4.1.1/js/bootstrap.min.js}"
        crossorigin="anonymous"></script>
</body>
</html>
