<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Users</title>
</head>
<body>
<section class="container">
    <h1>Manage users</h1>
    <h6>Allowed users</h6>
    <div th:if="${users==null || users.size()==0}">
        <div class="alert alert-primary" role="alert">No users are allowed</div>
    </div>
    <div>
        <ul class="list-group">
            <li th:each="user : ${users}" class="list-group-item">
                <form action="#" th:action="@{'/admin/users/'+${user}+'/delete'}" method="post"
                      class="form-inline circleform">
                    <span th:text="${user}">user@email</span>
                    <input type="submit" value="Remove" class="btn btn-primary btn-sm"/>
                </form>
            </li>
        </ul>
    </div>

    <h6>New User</h6>
    <form action="#" th:action="@{/admin/users}" th:object="${newuser}" method="post" class="form-inline">
        <div class="form-group">
            <input id="circleNameInput" type="text"
                   th:field="*{email}"
                   placeholder="New user's email"/>
        </div>
        <input type="submit" value="Create User" class="btn btn-primary"/>
        <input type="reset" value="Reset" class="btn-secondary btn"/>
    </form>
</section>
</body>
</html>