<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{manage.users}">Manage Users</title>
</head>
<body>
<section class="container">
    <h1 th:text="#{manage.users}">Manage users</h1>
    <h6 th:text="#{allowed.users}">Allowed users</h6>
    <div th:if="${users==null || users.size()==0}">
        <div class="alert alert-primary" role="alert" th:text="#{no.users.allowed}">No users are allowed</div>
    </div>
    <div>
        <ul class="list-group">
            <li th:each="user : ${users}" class="list-group-item">
                <form action="#" th:action="@{'/admin/users/'+${user}+'/delete'}" method="post"
                      class="form-inline circleform">
                    <span th:text="${user}">user@email</span>
                    <input type="submit" value="Remove" th:value="#{remove}" class="btn btn-primary btn-sm"/>
                </form>
            </li>
        </ul>
    </div>

    <h6 th:text="#{new.user}">New User</h6>
    <form action="#" th:action="@{/admin/users}" th:object="${newuser}" method="post"
          class="form-inline needs-validation">
        <div class="form-group">
            <input id="circleNameInput" type="email" class="form-control"
                   th:field="*{email}"
                   th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}"
                   placeholder="New user's email" th:placeholder="#{new.user.email}"/>
            <input type="submit" value="Create user" th:value="#{create.user}" class="btn btn-primary"/>
            <input type="reset" value="Reset" th:value="#{reset}" class="btn-secondary btn"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                 class="invalid-feedback"></div>
        </div>
    </form>

    <h6 th:text="#{pending.requests}">Pending requests</h6>
    <ul class="list-group">
        <li th:each="request : ${requests}" class="list-group-item access-request-line">
            <span th:text="${request.email + ' - ' + request.name}">test@test - Imie Nazwisko</span>
            <form action="#" th:action="@{'/admin/accessRequest/'+${request.email}+'/grant'}" method="post">
                <input type="submit" value="Grant" th:value="#{grant}" class="btn btn-primary"/>
            </form>
            <form action="#" th:action="@{'/admin/accessRequest/'+${request.email}+'/deny'}" method="post">
                <input type="submit" value="Deny" th:value="#{deny}" class="btn btn-primary"/>
            </form>
        </li>
    </ul>
</section>
</body>
</html>