<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{my.shared.albums}">My Shared Albums</title>
</head>
<body>
<section class="container">
    <h1 th:text="#{my.shared.albums}">My Shared Albums</h1>
    <div class="row albumcard">
        <div class="card-columns">
            <div class="card" th:each="album : ${albums}">
                <a th:href="${album.publicUrl}" target="_blank"><img class="card-img-top"
                                                                     th:src="*{'data:image/png;base64,'+#conversions.convert(album.coverPhoto.data,'String')}"/></a>
                <div class="card-body">
                    <h5 class="card-title"><a th:href="${album.publicUrl}" target="_blank" th:text="${album.name}"
                                              class="album-title-link" >Album name</a></h5>
                </div>
                <div class="albumcardfooter">
                    <a href="shareAlbum.html" th:href="@{'/albums/'+${album.id}}" class="btn btn-primary"
                       th:text="#{sharing.configuration}">Sharing Configuration</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:if="${albums == null || albums.size()==0}">
        <div class="alert alert-primary" role="alert" th:text="#{no.albums.available}">No albums available</div>
    </div>
</section>
</body>
</html>