<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{share}+' '+${album.name}">Share album</title>
</head>
<body>
<section class="container albumcard">
    <h1 th:text="#{share}+' '+${album.name}">Share album</h1>
    <div class="card col-sm-8">
        <a th:href="${album.url}" target="_blank"><img class="card-img-top" th:src="${album.coverPhotoUrl}"/></a>
        <div class="card-body">
            <h5 class="card-title"><a th:href="${album.url}" target="_blank" th:text="${album.name}">Album name</a></h5>
            <div class="form-group">
                <form action="#" th:action="@{'/albums/'+${album.id}}" th:object="${shareCommand}"
                      method="post" class="needs-validation" novalidate>
                    <input type="hidden" th:field="*{albumId}"/>
                    <input type="hidden" th:field="*{shareToken}"/>
                    <div class="form-group">
                        <label for="shareUrlInput" th:text="#{shareable.url}">Shareable URL: </label>
                        <input id="shareUrlInput" placeholder="Input public URL" th:field="*{publicUrl}" type="url"
                               class="form-control form-control-sm" th:placeholder="#{input.public.url}"
                               th:classappend="${#fields.hasErrors('publicUrl') ? 'is-invalid' : ''}"/>
                        <div th:if="${#fields.hasErrors('publicUrl')}" th:errors="*{publicUrl}"
                             class="invalid-feedback"></div>
                        <small id="shareUrlHelp" class="form-text text-muted" th:text="#{shareable.url.hint}">The URL
                            must be publicly (and anonymously) accessible.
                        </small>
                    </div>
                    <div class="form-group form-check">
                        <h6 th:text="#{user.circles}">User Circles</h6>
                        <ul>
                            <li th:each="circle : ${circles}">
                                <input type="checkbox" th:field="*{sharedTo}" th:value="${circle.id}"
                                       class="form-check-input"/>
                                <label th:for="${#ids.next('sharedTo')}" th:text="${circle.name}"
                                       class="form-check-label">Circle Name</label>
                            </li>
                        </ul>
                    </div>
                    <input type="submit" value="Share" th:value="#{share}" class="btn btn-primary"/>
                    <a href="#" class="btn btn-secondary disabled" th:text="#{clone.and.share}">Clone & Share</a>
                    <a href="albumlist.html" class="btn btn-secondary" th:href="@{/albums}" th:text="'&#8592; '+#{back.to.albums}">
                        Back to albums</a>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>