<!DOCTYPE html>
<html th:replace="~{layout :: layout(~{::title}, ~{::section})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security - OAuth 2.0 User Info</title>
</head>
<body>
<section>
    <div>
        <span style="font-weight:bold">User Attributes:</span>
        <ul>
            <li th:each="userAttribute : ${userAttributes}">
                <span style="font-weight:bold" th:text="${userAttribute.key}"></span>: <span
                    th:text="${userAttribute.value}"></span>
            </li>
        </ul>
    </div>
</section>
</body>
</html>